<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="3" sizeXs="0"></ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12">
        <ion-card>
          <ion-card-header>
            <ion-card color="primary">
              <ion-card-content>
                <ion-icon name="library-sharp"></ion-icon>
              </ion-card-content>
            </ion-card>
            <ion-card-title>
              Access your account
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formAuth">
              <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input
                        fill="solid"
                        labelPlacement="floating"
                        [clearInput]="true"
                        class="custom"
                        label="Username"
                        placeholder="Type a valid username"
                        formControlName="username"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input
                        fill="solid"
                        labelPlacement="floating"
                        [clearInput]="true"
                        class="custom"
                        label="Password"
                        placeholder="Type the password"
                        type="password"
                        formControlName="password"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-text color="primary" style="cursor: pointer;">Create an account</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col sizeMd="2"></ion-col>
                    <ion-col sizeMd="8" sizeXs="12">
                        <ion-button [disabled]="!formAuth.valid" (click)="submit()" style="font-weight: 500; width: 100%;" size="default" color="primary">Confirm</ion-button>
                    </ion-col>
                    <ion-col sizeMd="2"></ion-col>
                </ion-row>
            </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="3" sizeXs="0"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>