<ion-app>
  <ion-menu contentId="main-content" *ngIf="hasSession()">
    <ion-header>
      <ion-toolbar>
        <h4>Olá</h4>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label color="primary" style="font-weight: 550;">Header</ion-label>
          </ion-item>
          <ion-menu-toggle slot="content">
            <ion-item button>
              <ion-label color="tertiary">Home</ion-label>
              <ion-icon color="tertiary" name="book"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-accordion>
      </ion-accordion-group>
      <ion-menu-toggle>
        <ion-footer style="position: fixed; bottom: 0;">
          <ion-item color="light" button (click)="logout()">
            <ion-label color="tertiary">Sair</ion-label>
            <ion-icon color="tertiary" name="log-out-outline"></ion-icon>
          </ion-item>
        </ion-footer>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content" *ngIf="hasSession()">
    <ion-header>
      <ion-toolbar class="header-toolbar d-flex j-content-center a-itens-center f-direction-column" color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-grid class="d-flex a-itens-center">
              <ion-row>
                  <ion-col routerLink="/" style="cursor: pointer;" sizeXl="1" sizeXs="2" class="d-flex j-content-center a-itens-center">
                      <ion-img src="assets/icon/library.svg"></ion-img>
                  </ion-col>
                  <ion-col sizeXl="4" sizeMd="6" sizeSm="8" sizeXs="9" class="d-flex j-content-start a-itens-center">
                    <h4 class="d-flex a-itens-center">Library</h4>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet class="ion-padding"></ion-router-outlet>
    </ion-content>
  </div>

  <ion-router-outlet class="ion-padding" *ngIf="!hasSession()"></ion-router-outlet>
</ion-app>
