<ion-app>
  <ion-menu contentId="main-content" *ngIf="hasSession()">
    <ion-header>
      <ion-toolbar>
        <h4 style="text-align: center;">Olá {{ username }}</h4>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-menu-toggle *ngFor="let page of pages">
        <ion-item button routerLink="{{ page.link }}">
          <ion-label color="primary">{{ page.name }}</ion-label>
          <ion-icon color="primary" name="{{ page.icon }}"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-footer style="position: fixed; bottom: 0;">
          <ion-item color="light" button (click)="logout()">
            <ion-label color="primary">Logout</ion-label>
            <ion-icon color="primary" name="log-out-outline"></ion-icon>
          </ion-item>
        </ion-footer>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content" *ngIf="hasSession()">
    <ion-header>
      <ion-toolbar class="header-toolbar d-flex j-content-center a-itens-center f-direction-column" color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-grid class="d-flex a-itens-center">
              <ion-row>
                  <ion-col routerLink="/" style="cursor: pointer;" sizeXl="0.5" sizeXs="2" class="d-flex j-content-center a-itens-center">
                      <ion-icon style="font-size: 50px;" name="library"></ion-icon>
                  </ion-col>
                  <ion-col sizeXl="4" sizeMd="6" sizeSm="8" sizeXs="9" class="d-flex j-content-start a-itens-center">
                    <h4 class="d-flex a-itens-center" style="font-weight: 600; font-size: 30px;">Library</h4>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet class="ion-padding"></ion-router-outlet>
    </ion-content>
  </div>

  <ion-router-outlet class="ion-padding" *ngIf="!hasSession()"></ion-router-outlet>
</ion-app>
